{% extends 'admin_base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table id="image-table" class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.name }}</td>
                <td>
                    {% if image is not empty %} {# si img présente affiche là dans tableau#}
                        <img src="{{ asset(image.webPath) }}" style="max-height: 70px"/>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-success" href="{{ path('image_show', {'id': image.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn btn-info" href="{{ path('image_edit', {'id': image.id}) }}"><i class="fas fa-edit" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{"image.no_record"|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
