{% extends 'admin_base.html.twig' %}

{% block title %}{{"category.index"|trans}}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{"category.index"|trans}}</h1>
    <a class="btn btn-primary mb-2" href="{{ path('category_new') }}"><i class="fa fa-plus" aria-hidden="true"> {{"category.new"|trans}}</i></a>

    <table id="category-table" class="table">
        <thead class="thead-dark">
            <tr>
                <th>{{"category.title"|trans}}</th>
                <th>{{"category.actions"|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('category_show', {'id': category.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a class="btn btn-info" href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit" aria-hidden="true"></i></a>
                    <a class="btn btn-danger" href="{{ path('category_delete', {'id': category.id}) }}" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"{{"category.no_record"|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
